body {
    margin: 0;
    overflow: hidden;
}

button,
div.button,
div {
    font-size: 1.5em;
    background-color: mediumpurple;
    color: darkblue;
    border-color: mediumvioletred;
    font-family: 'Fredoka One', cursive;
    margin-top: 1em;
    margin-right: 1em;
    float: left;
}

div.button,
div {
    width: 7em;
    text-align: center;
    border: 3px solid mediumvioletred;
    font-family: 'Fredoka One', cursive;
}

div.button,
div,
input {
    float: left;
}

input {
    zoom: 1.3;
}
